:root{
    --icon-color1: rgb(0, 210, 0);
    --icon-color2: rgb(73, 85, 252);
    --icon-color3: rgb(255, 127, 191);
    --footer-color: #272727;
    --color-1: #6CBFF0;
    --color-2: #59CAAB;
}

/*Importação de fontes*/
@font-face {
    font-family: 'source-sans';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'austria';
    src: url('../fonts/austria/Austria.otf');
}

@font-face {
    font-family: 'popfine';
    src: url('../fonts/popfine/popfine-italic.ttf');
}

body{
    height: 100vh;
    font-family: 'source-sans' !important;
}

footer{
    background-color: var(--footer-color);
}

#home{
    background-image: url('../img/bg-home2.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 90vw;
    min-height: 100vh;
}

#who{
    background-color: var(--color-1);
}

#products{
    background-color: var(--color-2)
}

@media (min-width: 576px){
    #home{
        background-image: url('../img/bg-home.png');
        background-position: center right;
    }
}

/*Classes personalizadas*/
.il-title-austria{
    line-height: 150%;
    word-spacing: 20px;
    font-size: 3em !important;
    font-family: 'austria';
}

.il-title-popfine{
    font-family: 'popfine';
    font-size: 3.7em;
}

.il-title-popfin{
    font-family: 'popfine';
    font-size: 2em;
}

.il-bg-fixed{
    background-attachment: fixed;
}

.il-icon-nav{
    font-size: 1.5em;
}

.il-icon-fixed{ 
    padding: 10px;
    position: fixed;
    top: 85%;
    right: 3%;
    border-radius: 10px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0.943);
    color: var(--icon-color1);
    font-size: 2.8em;
    transition-property: all;
    transition-duration: 0.5s;
}
/*Animações*/
.il-icon-fixed:hover{ 
    transform: scale(1.2);
    padding: 10px;
    position: fixed;
    top: 85%;
    right: 3%;
    border-radius: 10px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0.943);
    color: var(--icon-color1);
    font-size: 2.8em;
}

.fa-facebook{
    transition-property: all;
    transition-duration: 0.3s;
}

.fa-facebook:hover{
    color: var(--icon-color2);
}

.fa-instagram{
    transition-property: all;
    transition-duration: 0.3s;
}

.fa-instagram:hover{
    color: var(--icon-color3);
}

.fa-whatsapp{
    transition-property: all;
    transition-duration: 0.3s;
}

.fa-whatsapp:hover{
    color: var(--icon-color1);
}

/*Classes bootstrap*/
.card{
    max-width: 300px !important;
    width: 100% !important;
}

.card-img-top{
    max-height: 190px !important;
}
